<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value=".\packages" />
  </config>
  
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
  </packageRestore>

	<!-- NOTE: Leave this file here and keep it in sync with list in dir.props. -->
	<!-- The command-line doesn't need it, but the IDE does.                    -->
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="HearthStone" value="https://www.myget.org/F/hearthstone/api/v3/index.json" />
		<add key="ImageSharp-Latency" value="https://www.myget.org/F/imagesharp-latency/api/v3/index.json" />
		<add key="Microsoft.SDK.Extensions" value="https://myget.org/F/msbuildsdkextras/api/v3/index.json" />
	</packageSources>
</configuration>