<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LastDeck></LastDeck>
  <HideInBackground>false</HideInBackground>
  <HideInMenu>false</HideInMenu>
  <HideEnemyCards>false</HideEnemyCards>
  <HideEnemyCardCount>false</HideEnemyCardCount>
  <HidePlayerCardCount>false</HidePlayerCardCount>
  <HideDrawChances>false</HideDrawChances>
  <WindowHeight>684</WindowHeight>
  <HearthstoneDirectory>C:\Program Files (x86)\Hearthstone</HearthstoneDirectory>
  <ShowInTaskbar>false</ShowInTaskbar>
  <HighlightCardsInHand>false</HighlightCardsInHand>
  <OffsetX>0</OffsetX>
  <OffsetY>0</OffsetY>
  <CustomWidth>-1</CustomWidth>
  <CustomHeight>-1</CustomHeight>
  <VisibleOverlay>false</VisibleOverlay>
  <PlayerWindowHeight>0</PlayerWindowHeight>
  <OpponentWindowHeight>0</OpponentWindowHeight>
  <WindowsTopmost>false</WindowsTopmost>
  <WindowsBackgroundHex></WindowsBackgroundHex>
  <MaxHeightPct>0.65</MaxHeightPct>
</Config>
