<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.23" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net472" />
  <package id="SharpRaven" version="2.4.0" targetFramework="net48" />
  <package id="Splat" version="1.6.2" targetFramework="net472" />
  <package id="squirrel.windows" version="1.9.1" targetFramework="net472" />
  <package id="WPFLocalizeExtension" version="3.5.0" targetFramework="net48" />
  <package id="XAMLMarkupExtensions" version="1.8.0" targetFramework="net48" />
</packages>