name: Main

on: [push]

defaults:
  run:
    shell: powershell

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Run Bootstrap
        run: ./bootstrap.ps1

      - name: Update version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          $buildNumber = 5000 + $Env:GITHUB_RUN_NUMBER
          $packageVersion = ./build-scripts/update_version.ps1 -dev $false -buildNumber $buildNumber
          echo "::set-output name=packageVersion::$packageVersion"

      - name: Build (Release)
        run: msbuild "./Hearthstone Deck Tracker.sln" /p:Configuration=Release /p:Platform="x86"

      - name: Setup VSTest
        uses: Malcolmnixon/Setup-VSTest@v4

      - name: Test
        run: |
          vstest.console "HearthWatcher.Test\bin\x86\Release\HearthWatcher.Test.dll"
          vstest.console "HDTTests\bin\x86\Release\HDTTests.dll"

      - name: Build (Squirrel)
        run: msbuild "./Hearthstone Deck Tracker.sln" /p:Configuration=Squirrel /p:Platform="x86"

      - name: Setup SM_CLIENT_CERT_FILE from base64 secret data
        if: startsWith(github.ref, 'refs/tags/v')
        shell: bash
        run: |
          echo "${{ secrets.SM_CLIENT_CERT_FILE_B64 }}" | base64 --decode > ${RUNNER_TEMP}/sm_client_cert.p12
          echo "SM_CLIENT_CERT_FILE=${RUNNER_TEMP}/sm_client_cert.p12" >> $GITHUB_ENV

      - name: Setup Software Trust Manager
        if: startsWith(github.ref, 'refs/tags/v')
        uses: digicert/code-signing-software-trust-action@v1.0.1
        with:
          simple-signing-mode: true
        env:
          SM_HOST: ${{ vars.SM_HOST }}
          SM_API_KEY: ${{ secrets.SM_API_KEY }}
          SM_CLIENT_CERT_FILE: ${{ env.SM_CLIENT_CERT_FILE }}
          SM_CLIENT_CERT_PASSWORD: ${{ secrets.SM_CLIENT_CERT_PASSWORD }}

      - name: Package
        if: startsWith(github.ref, 'refs/tags/v')
        run: ./build-scripts/package.ps1 -dev $false -packageVersion ${{ steps.version.outputs.packageVersion }}
        env:
          SM_HOST: ${{ vars.SM_HOST }}
          SM_API_KEY: ${{ secrets.SM_API_KEY }}
          SM_CLIENT_CERT_FILE: ${{ env.SM_CLIENT_CERT_FILE }}
          SM_CLIENT_CERT_PASSWORD: ${{ secrets.SM_CLIENT_CERT_PASSWORD }}

      - name: Create Release (Squirrel)
        if: startsWith(github.ref, 'refs/tags/v')
        run: ./build-scripts/github_release.ps1 -type squirrel -packageVersion ${{ steps.version.outputs.packageVersion }}
        env:
          HDT_GITHUB_TOKEN: ${{ secrets.HDT_GITHUB_TOKEN }}

      - name: Create Release (Portable)
        if: startsWith(github.ref, 'refs/tags/v')
        run: ./build-scripts/github_release.ps1 -type portable -packageVersion ${{ steps.version.outputs.packageVersion }}
        env:
          HDT_GITHUB_TOKEN: ${{ secrets.HDT_GITHUB_TOKEN }}
